@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
  
ol {
  max-width: 350px;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
}
ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
}
ol li::before {
  content: counter(my-awesome-counter);
  color: #fcd000;
  color: #fc7a00;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  transform: rotate(-10deg);
  background: #f3534c;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
}

body {
  /* background: #191919; */
  /* color: #eee; */
  /* font-family: Lato, sans-serif; */
  /* line-height: 1.4; */
  /* font-size: 90%; */
  /* margin: 2rem; */
}